* {
  box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: white;
  font-size: 16px;
}

#name {
  font-size: 42px;
}

a,
a:visited,
a:active {
  color: black;
  text-decoration-thickness: 0.5px;
}

a:hover {
  text-decoration: none;
}

.title {
  /* margin: auto; */
  text-align: right;
  font-size: 28px;
  color: #ff8080;
  font-weight: 100;
}

.grid {
  margin: auto;
  width: 75%;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-column-gap: 5%;
}

.gridblog {
  margin: auto;
  width: 75%;
  display: grid;
  grid-template-columns: 10fr;
  grid-column-gap: 5%;
}

.info,
.blurb {
  align-self: top;
}

.info {
  text-align: right;
}

.sc {
  font-variant: small-caps;
}

.nowrap {
  white-space: nowrap;
}

.subheading {
  font-weight: bold;
}

.resize {
  max-width: 100%;
  max-height: 100%;
}

/* skinny screen overrides */
@media (max-width: 715px) {
  .grid {
    width: 95%;
    grid-template-columns: 1fr;
    grid-column-gap: 0%;
  }

  .gridblog {
    width: 95%;
  }

  .info,
  .blurb {
    align-self: center;
    text-align: left;
  }

}
